In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect("sla_data.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS lease_sla (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    vin TEXT,
    lease_term TEXT,
    monthly_payment TEXT,
    apr TEXT,
    residual_value TEXT,
    mileage_limit TEXT,
    late_fee TEXT,
    early_termination TEXT,
    red_flags TEXT,
    fairness_score INTEGER
)
""")

conn.commit()

In [4]:
sla_data = {
    "VIN": "Not provided",
    "Lease term": "36 months",
    "Monthly payment": "$25",
    "APR": "Not specified",
    "Residual value": "Purchase option price",
    "Mileage limit": "Not specified",
    "Late fee": "$25",
    "Early termination": "Remaining payments",
    "Red flags": ["High early termination penalty"],
    "Fairness score": 70
}

In [5]:
cursor.execute("""
INSERT INTO lease_sla (
    vin, lease_term, monthly_payment, apr,
    residual_value, mileage_limit, late_fee,
    early_termination, red_flags, fairness_score
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""", (
    sla_data.get("VIN"),
    sla_data.get("Lease term"),
    sla_data.get("Monthly payment"),
    sla_data.get("APR"),
    sla_data.get("Residual value"),
    sla_data.get("Mileage limit"),
    sla_data.get("Late fee"),
    sla_data.get("Early termination"),
    str(sla_data.get("Red flags")),
    sla_data.get("Fairness score")
))

conn.commit()

In [7]:
cursor.execute("SELECT * FROM lease_sla")
row = cursor.fetchone()

columns = [
    "ID",
    "VIN",
    "Lease Term",
    "Monthly Payment",
    "APR",
    "Residual Value",
    "Mileage Limit",
    "Late Fee",
    "Early Termination",
    "Red Flags",
    "Fairness Score"
]

for col, val in zip(columns, row):
    print(f"{col}: {val}")

ID: 1
VIN: Not provided
Lease Term: 36 months
Monthly Payment: $25
APR: Not specified
Residual Value: Purchase option price
Mileage Limit: Not specified
Late Fee: $25
Early Termination: Remaining payments
Red Flags: ['High early termination penalty']
Fairness Score: 70